.nui-button {
  @apply rounded-lg;
  @apply px-4 py-2;
  @apply transition-all duration-100;
  @apply transform;
  @apply leading-tight;
}
.nui-button:active {
  transform: scale(0.98);
}

.nui-button:focus {
  outline: none;
  @apply ring ring-current;
  @apply ring-opacity-30;
}
.nui-button.solid:active {
  @apply shadow-lg;
}

.nui-button.text {
  @apply uppercase;
  @apply font-semibold;
}

.nui-button:disabled {
  @apply opacity-50;
}

.nui-button.sm {
  @apply px-3 py-2;
  @apply text-sm;
  line-height: 110%;
}

.nui-button.xs {
  padding: 4px 6px;
  @apply text-xs;
}
.nui-button.primary {
  @apply text-primary-600;
  @apply dark:text-primary-500;
}
.nui-button.solid {
  @apply shadow-md;
}
.nui-button.primary.solid {
  @apply bg-primary-600;
  @apply text-white;
}
